.poule-details-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 2.25rem;
  width: 100%;
  max-width: 100%;

  .user-cell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;

    .avatar-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid var(--border);
      display: block;
    }

    .remove-member-button {
      color: var(--primary-red);
      padding: 0;

      .remove-member-icon {
        font-size: 24px;
        vertical-align: middle;
      }
    }
  }
}

.leave-poule-button {
  color: var(--primary-red);
  padding: 0;

  .leave-poule-icon {
    font-size: 24px;
    vertical-align: middle;
  }
}

.mat-mdc-row {
  --mat-table-row-item-container-height: 40px;
}
.mat-mdc-cell {
  min-height: 40px !important;
}