<main>
  <div class="container">
    <mat-card class="card poule-details-card">
      <h2>{{ poule()?.name }}</h2>
      <p>{{ poule()?.description }}</p><br>
      <table mat-table [dataSource]="members()">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Positie</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Leden</th>
          <td mat-cell *matCellDef="let element" class="user-cell">
            <img [src]="element.avatarUrl" alt="Avatar" class="avatar-img" appHideOnError>
            {{ element.username }}
            @if (isPouleOwner(poule()!) && element.uid !== poule()!.createdBy) {
              <button mat-icon-button class="remove-member-button" (click)="removePouleMember(element.uid)" matTooltip="Verwijder uit poule">
                <mat-icon class="remove-member-icon">person_remove</mat-icon>
              </button>
            }
            @if (!isPouleOwner(poule()!) && element.uid === currentUser()?.uid) {
              <button mat-icon-button class="leave-poule-button" matTooltip="Poule verlaten" (click)="leavePoule(poule()!.id!)">
                <mat-icon class="leave-poule-icon">person_remove</mat-icon>
              </button>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Punten</th>
          <td mat-cell *matCellDef="let element">{{ element.points }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="memberColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: memberColumns;"></tr>
      </table>
    </mat-card>

    <mat-card class="card race-predictions-card">
      <h2>Racevoorspellingen</h2>
      @if (nextRace) {
      <div class="next-race">
        <div class="nr-title">
          <!-- <h3>Volgende race</h3> -->
          <div class="nr-info">
            <span class="nr-date">{{ dateRange }}</span>
            <mat-divider></mat-divider>
            <img class="nr-flag" [src]="getCountryFlagImage(nextRace.Circuit.Location.country)" alt="{{ nextRace.Circuit.Location.country }} vlag" appHideOnError />
          </div>
        </div>

        <div class="nr-content">
          <div class="nr-circuit">
            @if (safeSvg) {
              <svg viewBox="0 0 500 300" preserveAspectRatio="xMidYMid meet" class="nr-circuit-svg">
                <g [innerHTML]="safeSvg"></g>
              </svg>
            }
          </div>
          <div class="nr-details">
            <div class="nr-location">
              <p>GP {{ nextRace.Circuit.Location.country }}</p>
              <h3>{{ nextRace.Circuit.circuitName }}</h3>
            </div>
            <table mat-table [dataSource]="raceInfo">
              <ng-container matColumnDef="label">
                <td mat-cell *matCellDef="let element" class="cell-label"> {{ element.label }} </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <td mat-cell *matCellDef="let element" class="cell-value1"> {{ element.date }} </td>
              </ng-container>
              <ng-container matColumnDef="time">
                <td mat-cell *matCellDef="let element" class="cell-value2"> {{ element.startTime }} - {{ element.endTime }} </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: raceColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="predictions">
        <button mat-button (click)="openPredictionDialog()">Doe een voorspelling</button>
      </div>
    }

    </mat-card>
  </div>
</main>
