a {
  color: var(--primary-red);
  display: inline;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  mat-form-field {
    width: 40%;
  }
  .submit-button {
    width: 40%;
  }

  @media (max-width: 768px) {
    mat-form-field {
      width: 70%;
    }
    .submit-button {
      width: 70%;
    }
  }

  @media (max-width: 640px) {
    mat-form-field {
      width: 100%;
    }
    .submit-button {
      width: 100%;
    }
  }
}