header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  border-bottom: 1px solid var(--border);
  background-color: var(--background);

  .header-main {
    width: min(90%, 1320px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

    img {
      height: 30px;
      width: auto;
      cursor: pointer;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 2rem;

      nav {
      display: flex;
      align-items: center;
      gap: 2rem;
  
      a:hover {
        color: var(--primary-red);
        cursor: pointer;
      }
  
      .router-link-active{
        color: var(--primary-red);
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      gap: .2rem;
      
      button {
        min-width: 86px;
        height: 36px;
        margin: 0;
        padding: 0;
        font-size: .66rem;
        text-transform: uppercase;
        border-radius: 6px;

        &.register, &.logout {
          background-color: var(--btn-register);
        }

        &.login, &.dashboard {
          background-color: var(--primary-red);
        }

        &.dashboard {
          min-width: 38px;

          &.mat-mdc-unelevated-button>.mat-icon {
            margin: auto;
          }
        }
      }
    }
    }
  }

  // mat-icon.toggle-icon {
  //   fill: var(--toggle-icon);
  //   color: var(--toggle-icon);
  // }
}