<header>
  <div class="container header-container">
    <a routerLink="/" routerLinkActive="router-link-active" (click)="closeMenu()">
      <img src="assets/F1.svg.webp" alt="F1 logo" />
    </a>
    <button class="hamburger" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen() ? "close" : "menu" }}</mat-icon>
    </button>
    <div class="header-nav" [class.open]="isMenuOpen()">
      <nav>
        <a routerLink="/teams" routerLinkActive="router-link-active" (click)="closeMenu()">Teams</a>
        <a routerLink="/coureurs" routerLinkActive="router-link-active" (click)="closeMenu()">Coureurs</a>
        <a routerLink="/races" routerLinkActive="router-link-active" (click)="closeMenu()">Races</a>
        @if (isLoggedIn$ | async) {
          <a routerLink="/poules" routerLinkActive="router-link-active" (click)="closeMenu()">Poules</a>
        }
      </nav>
      <div class="header-actions">
        @if (isLoggedIn$ | async) {
          <button mat-flat-button routerLink="/dashboard" class="dashboard-button"><mat-icon>person</mat-icon></button>
          <button mat-flat-button (click)="logout()" class="logout-button">Uitloggen</button>
        } @else {
          <button mat-flat-button routerLink="/login" class="login-button" (click)="closeMenu()"><mat-icon>person</mat-icon>Login</button>
          <button mat-flat-button routerLink="/register" class="register-button" (click)="closeMenu()">Aanmelden</button>
        }
        <button class="theme-toggle-icon" (click)="toggleTheme()">
          <mat-icon>
            {{ theme() === 'dark-theme' ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</header>