<mat-card class="team-card">
  <div class="tc-header">
    <div class="tc-team-position">{{ constructorStanding().position }}</div>
    <div class="tc-team-points">
      <span class="tc-team-points-number">{{ constructorStanding().points }}</span>
      <span class="tc-team-points-label">punten</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="tc-info">
    <div class="tc-team-name" [ngStyle]="{ 'border-left': '6px solid ' + getConstructorColor(constructorStanding().Constructor.constructorId) }">
      {{ getConstructorName(constructorStanding().Constructor.constructorId) }}
    </div>
    <img [src]="getConstructorLogo(constructorStanding().Constructor.constructorId)" alt="Teamlogo" class="tc-team-logo" appHideOnError />
  </div>

  <div class="tc-drivers">
    @for (driver of driverStanding(); track driver.Driver.driverId) {
      <a matRipple [routerLink]="getDriverLink(driver.Driver.driverId)" class="tc-driver">
        <div class="tc-driver-info">
          <img [src]="getDriverImage(driver.Driver.driverId)" alt="{{ driver.Driver.givenName }} {{ driver.Driver.familyName }}" class="tc-driver-image" appHideOnError />
          <div class="tc-driver-name">
            <span>{{ driver.Driver.givenName }}</span> 
            <span>{{ driver.Driver.familyName }}</span>
          </div>
          <div class="tc-driver-points">{{ driver.points }} punten</div>
          <img class="tc-driver-flag"
              [src]="getFlagImage(driver.Driver.nationality)"
              alt="{{ driver.Driver.nationality }} vlag" appHideOnError />
        </div>
      </a>
    }
  </div>

  <div class="tc-car-image">
    <img [src]="'assets/cars/car-' + constructorStanding().Constructor.constructorId + '.png'" alt="F1 auto" appHideOnError />
  </div>
</mat-card>