.team-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1.25rem 2.25rem;
  width: 100%;
  max-width: 100%;

  .tc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    padding-bottom: .5rem;

    .tc-team-position{
      font-size: 3.5rem;
      font-style: italic;
      color: var(--text);
    }

    .tc-team-points {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.75rem;
      font-weight: 900;

      .tc-team-points-number {
        line-height: 1;
        color: var(--text);
      }
      
      .tc-team-points-label {
        font-size: .65rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--card-bg);
        background-color: var(--text);
        border-radius: 16px;
        padding: .25rem .5rem;
      }
    }
  }

  .tc-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .tc-team-name {
      position: relative;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.5;
      padding-left: 1rem;
    }

    .tc-team-logo {
      width: auto;
      height: 30px;
    }
  }

  .tc-drivers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .tc-driver {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--card-accent);
      padding: .5rem;
      border-radius: 8px;
      gap: 1rem;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: var(--card-accent-hover);
      }

      & img {
        width: 60px;
        height: 60px;
      }

      .tc-driver-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;

        .tc-driver-name {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          flex: 1;

          span:first-child {
            font-weight: 400;
          }
        }

        .tc-driver-number {
          font-weight: 400;
          font-style: italic;
          margin-left: 0.25rem;
          color: var(--primary-350);
        }

        .tc-driver-points {
          font-size: .85rem;
          color: var(--primary-red);
          flex: 1;
        }

        .tc-driver-flag {
          width: 46px;
          height: 30px;
          flex-shrink: 0;
          flex-grow: 0;
          object-fit: cover;
          border-radius: 4px;
        }
      }
    }
  }
}

.tc-car-image img {
  width: 100%;
  margin-top: 1rem;
}