::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.62);
}

::ng-deep .cdk-overlay-pane, .cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 600px !important;
  max-width: 100% !important;
  margin-inline: 5vw;
}

::ng-deep .mat-mdc-dialog-surface {
  background-color: var(--dialog-bg);
  padding: 2rem 3rem;
  width: 100%;
}

.mat-mdc-dialog-actions {
  padding: 1rem 0 .5rem 1rem;
}

h3, h4 {
  padding-bottom: 1rem;
  text-align: center;
}

mat-divider {
  padding-bottom: 1rem;
}

.pr-form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }
}

button.mat-mdc-button[disabled].mat-mdc-button-disabled {
  background-color: var(--secondary-green);
  color: var(--primary-0);
}
button.submit-button {
  background-color: var(--primary-green);
}