<mat-card class="card race-card">
  <div class="rc-header">
    <span>{{ race().date | date:'dd-MM-yyyy' }}</span>
    <img class="rc-flag" [src]="getCountryFlagImage(race().Circuit.Location.country)" alt="{{ race().Circuit.Location.country }} flag" appHideOnError />
  </div>

  <mat-divider></mat-divider>

  <div class="rc-info">
    <div class="rc-country">{{ race().Circuit.Location.country }}</div>
    <p class="rc-circuit-name">{{ race().Circuit.circuitName }}</p>
  </div>

  <div class="rc-circuit">
    @if (safeSvg) {
      <svg viewBox="0 0 500 300" preserveAspectRatio="xMidYMid meet" class="rc-circuit-svg">
        <g [innerHTML]="safeSvg"></g>
      </svg>
    }
  </div>

  @if (results().length > 0) {
    <div class="rc-results">
      @if (results().length > 1) {
        <div class="rc-pos rc-pos2">
          <img [src]="getDriverImage(results()[1].Driver.driverId)" alt="{{ results()[1].Driver.givenName }} {{ results()[1].Driver.familyName }}" class="dc-driver-image" appHideOnError />
        </div>
      }
      @if (results().length > 0) {
        <div class="rc-pos rc-pos1">
          <img [src]="getDriverImage(results()[0].Driver.driverId)" alt="{{ results()[0].Driver.givenName }} {{ results()[0].Driver.familyName }}" class="dc-driver-image" appHideOnError />
        </div>
      }
      @if (results().length > 2) {
        <div class="rc-pos rc-pos3">
          <img [src]="getDriverImage(results()[2].Driver.driverId)" alt="{{ results()[2].Driver.givenName }} {{ results()[2].Driver.familyName }}" class="dc-driver-image" appHideOnError />
        </div>
      }
    </div>
  }
</mat-card>
