<mat-card class="race-card">
  <div class="rc-header">
    <span>{{ race().date | date:'dd-MM-yyyy' }}</span>
    <img class="rc-flag" [src]="getCountryFlagImage(race().Circuit.Location.country)" alt="{{ race().Circuit.Location.country }} vlag" />
  </div>

  <mat-divider></mat-divider>

  <div class="rc-info">
    <div class="rc-country">{{ race().Circuit.Location.country }}</div>
    <p>{{ race().Circuit.circuitName }}</p>
  </div>

  <div class="rc-circuit">
    <div class="track-svg"></div>
  </div>
</mat-card>
