<h3 mat-dialog-title>Wachtwoord wijzigen</h3>
<mat-divider></mat-divider>

<form [formGroup]="changePasswordForm" class="cp-form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Huidig wachtwoord</mat-label>
    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword" />
    <button type="button" mat-icon-button
            matSuffix
            (click)="hideCurrentPassword = !hideCurrentPassword"
            [attr.aria-label]="'Toggle confirm password visibility'"
            [attr.aria-pressed]="!hideCurrentPassword">
          <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (fieldIsInvalid('currentPassword')) {
      <mat-error>Wachtwoord is verplicht</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nieuw wachtwoord</mat-label>
    <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" />
    <button type="button" mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Toggle confirm password visibility'"
            [attr.aria-pressed]="!hideNewPassword">
          <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (fieldIsInvalid('newPassword')) {
      <mat-error>Wachtwoord is verplicht</mat-error>
    }
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Herhaal nieuw wachtwoord</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
    <button type="button" mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Toggle confirm password visibility'"
            [attr.aria-pressed]="!hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (fieldIsInvalid('confirmPassword')) {
      <mat-error>Wachtwoord is verplicht</mat-error>
    }
  </mat-form-field>
  @if (
  passwordsDontMatch() &&
  changePasswordForm.get('confirmPassword')?.touched &&
  changePasswordForm.get('confirmPassword')?.value
  ) {
    <mat-error>Wachtwoorden komen niet overeen</mat-error>
  }
  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close class="mat-close-button">Annuleren</button>
    <button mat-button type="submit" [disabled]="changePasswordForm.invalid" class="submit-button">Wijzig wachtwoord</button>
  </mat-dialog-actions>
</form>