<footer>

  <section class="footer-bar">
    <div class="container">
      <ul>
        <li>Download de officiële <br> F1 Poule app</li>
        <li>
          <a routerlink="/">
            <img src="assets/google-play-badge.webp" alt="Google Play Badge" appHideOnError/>
          </a>
        </li>
        <li>
          <a routerlink="/">
            <img src="assets/app-store-badge.webp" alt="App Store Badge" appHideOnError/>
          </a>
        </li>
    </ul>
    </div>
  </section>

  <section class="container footer-main">
    <div class="footer-nav">
      <div class="footer-nav-1">
        <ul>
          <li><a routerLink="/teams">Teams</a></li>
          <li><a routerLink="/drivers">Coureurs</a></li>
          <li><a routerLink="/races">Races</a></li>
          <li><a routerLink="/speluitleg">Speluitleg</a></li>
        </ul>
      </div>
      <div class="footer-nav-2">
        <ul>
          <li><a routerLink="/">x</a></li>
          <li><a routerLink="/">x</a></li>
          <li><a routerLink="/">x</a></li>
        </ul>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="disclaimer">
      <p>© 2025 F1 Poule</p>
      <p>Deze applicatie is op geen enkele wijze geaffilieerd met, gesponsord door of goedgekeurd door Formula One Group of een van haar gelieerde entiteiten. Alle merknamen, logo's en handelsmerken die mogelijk worden weergegeven, zijn eigendom van hun respectieve eigenaars. Deze F1 Poule is een onafhankelijke applicatie gemaakt door fans, voor fans, en bedoeld voor informatieve en recreatieve doeleinden.</p>
    </div>
  </section>

</footer>
