footer {
  background-color: var(--footer-bg);
  color: var(--primary-0);

  .footer-bar {
    background-color: var(--footer-bar-bg);
    padding-block: 1rem;
    font-size: 0.66rem;
    text-transform: uppercase;

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;

      a {
        cursor: pointer;

        img {
          height: 40px;
        }
      }
    }
  }

  .footer-main {
    padding-block: 2rem;

    .footer-nav {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
      gap: 5rem;

      ul li {
        padding: .25rem 0;

        a { color: var(--text-inv); }
      }
    }

    mat-divider {
      margin: 1rem 0;
    }

    .disclaimer p {
      font-size: .66rem;
      color: var(--primary-350);
      line-height: 1.5;
    }
  }
}