.register-form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 40%;
  }
  .submit-button {
    width: 40%;
  }

  @media (max-width: 768px) {
    mat-form-field {
      width: 70%;
    }
    .submit-button {
      width: 70%;
    }
  }

  @media (max-width: 640px) {
    mat-form-field {
      width: 100%;
    }
    .submit-button {
      width: 100%;
    }
  }
}