.driver-details-header {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;

  .dd-driver-image-container {
    flex: 1 1 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: auto;

    .dd-driver-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .dd-driver-info-container {
    flex: 2;
    padding: 3rem 1rem 3rem 3rem;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .dd-driver-info {
      display: flex;
      align-items: center;

      .dd-driver-number {
        font-size: 3.3rem;
        font-style: italic;
        margin-right: 1rem;
        color: var(--primary-350);
      }

      .dd-driver-flag {
        width: 64px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--border);
      }
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    table.driver-info {
      width: 60%;
    }
  }
}

.driver-details-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 5rem;

  .dd-stats-container {
    background-color: var(--background);
    border-radius: 8px;
    padding: 1.25rem 2.25rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    gap: 2rem;
  }

  @media (max-width: 640px) {
    justify-content: center;
  }
}


.mat-mdc-table {
  background-color: transparent!important;
  min-width: 250px;
}
.mat-mdc-row {
  height: 2rem;

  &.dd-driver-info-row {
    height: 2.5rem;
    font-size: 1.1rem;

    @media (max-width: 830px) {
      font-size: 1rem;
    }
  }
}
.mat-column-label {
  font-weight: 400;
}
.mat-mdc-cell {
  letter-spacing: 0;
  color: var(--text);

  &.cell-value {
    text-align: right;
    font-weight: 700;
  }
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0;
}
.mdc-data-table__content {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .driver-details-header .dd-driver-info-container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 830px) {
  .driver-details-header .dd-driver-image-container {
    flex: 1 1 40%;
    max-width: 40%;
  }
  .driver-details-header .dd-driver-info-container h1 {
    font-size: 1.75rem;
  }
  .driver-details-stats {
    gap: 0;
  }
}
@media (max-width: 640px) {
  .driver-details-header .dd-driver-image-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .driver-details-header .dd-driver-info-container table.driver-info {
    width: 100%;
  }
  .driver-details-header .dd-driver-info-container {
    padding: 1.5rem 2rem;
  }
  .driver-details-stats {
    gap: 0;

    .dd-stats-container {
      width: 100%;

      table.driver-results {
        width: 100%;
      }
    }
  }
}